<!DOCTYPE html>
<html>
	<head>
		<title>
			Movie Booking Portal : Login
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% load static %}
		<link rel="stylesheet" href="{% static "pages/css/main.css" %}">
	</head>
	<body>
		<div>
			<div>
				<h2>Movie Booking Portal</h2>
			</div>
			<div  style="text-align: center;">
				Login
				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<button class="btn btn-primary" type="submit">Login</button>
				</form>
			</div>
		</div>
	</body>
</html>
